# Name of your application. Used to uniquely configure containers.
service: <%= ENV["KAMAL_APP_NAME"] %>

# Name of the container image.
image: <%= ENV["KAMAL_APP_NAME"] %>

# Deploy to these servers.
servers:
  web:
    hosts:
      - <%= ENV["KAMAL_SERVER_IP"] %>

# Note: If using Cloudflare, set encryption mode in SSL/TLS setting to "Full" to enable CF-to-app encryption.
proxy:
  ssl: true
  host: <%= ENV["KAMAL_APP_DOMAIN"] %>
  # Proxy connects to your container on port 80 by default.
  app_port: 3000
  forward_headers: true  # Forward client headers to your application
  healthcheck:
    timeout: 60  # Health check timeout in seconds

# Credentials for your image host.
registry:
  server: <%= ENV["KAMAL_REGISTRY_LOGIN_SERVER"] %>
  username: <%= ENV["KAMAL_REGISTRY_USERNAME"] %>
  password:
    - KAMAL_REGISTRY_PASSWORD

# Configure builder setup.
builder:
  arch: amd64
  # Pass in additional build args needed for your Dockerfile.
  # args:
  #   RUBY_VERSION: <%= ENV["RBENV_VERSION"] || ENV["rvm_ruby_string"] || "#{RUBY_ENGINE}-#{RUBY_ENGINE_VERSION}" %>

# Inject ENV variables into containers (secrets come from .kamal/secrets).
env:
  clear:
    NODE_ENV: production
    ENABLE_EMAIL_VERIFICATION: false
  secret:
    - DATABASE_URL  # Database connection string
    - NUXT_SESSION_PASSWORD